body {
background-color: lightgray
}

.col-lg-3 {
  padding-left: 0;
} 

.navbar {
  justify-content: center;
}

.card{
  margin-bottom: 40px;
}

.card-img-overlay {
  position: absolute;
  background-color: black;
  color: white;
  top: 180px;
  width: auto;
  margin-bottom: 10px;
}

#footer {
  margin-top:40px;
}